<!DOCTYPE html>
<html>
<head>
  <title>Monica</title>
  <%= stylesheet_link_tag    "monica/application", media: "all" %>
  <%= javascript_include_tag "monica/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
